*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  border: 0;
}

html,
body,
#app {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

html {
  background-color: var(--color-neutral-60);
  color: var(--color-neutral-10);
}

a:link,
a:visited,
a:active {
  color: var(--color-neutral-10);
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: var(--font-weight-20);
  vertical-align: baseline;
  overflow-wrap: break-word;
}

input,
button,
textarea,
select {
  font: inherit;
}
