:root {
  --color-neutral-10: hsl(0, 0%, 0%);
  --color-neutral-20: hsl(0, 0%, 20%);
  --color-neutral-30: hsl(0, 0%, 40%);
  --color-neutral-40: hsl(0, 0%, 60%);
  --color-neutral-50: hsl(0, 0%, 85%);
  --color-neutral-60: hsl(0, 0%, 95%);
  --color-neutral-70: hsl(0, 0%, 100%);
}

:root {
  --size-00: 4px;
  --size-10: 8px;
  --size-20: 16px;
  --size-30: 24px;
  --size-40: 32px;
  --size-50: 48px;
  --size-60: 64px;
  --size-70: 128px;
  --size-80: 256px;
  --size-90: 512px;

  --border-size-10: 1px;
  --border-size-20: 2px;
  --border-size-30: 4px;

  --border-radius-10: 4px;
  --border-radius-20: 8px;
  --border-radius-30: 1000px;
}

:root {
  --font-size-10: 10px;
  --font-size-20: 18px;
  --font-size-30: 26px;
  --font-size-40: 34px;
  --font-size-50: 42px;
  --font-size-60: 50px;
  --font-size-70: 58px;

  --font-weight-10: 100;
  --font-weight-20: 400;
  --font-weight-30: 700;
  --font-weight-40: 900;
}
