*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100dvh;
  font-family: var(--font-industrial);
  color: var(--p-text-color);
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  padding: 0;
  margin: 0;
  border: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  max-width: 65ch;
  line-height: 1.5;
  vertical-align: baseline;
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

a {
  color: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
}

input,
button,
textarea,
select,
fieldset {
  font: inherit;
}