:root {
  --color-10: hsl(0, 0%, 0%);
  --color-20: hsl(0, 0%, 20%);
  --color-30: hsl(0, 0%, 40%);
  --color-40: hsl(0, 0%, 60%);
  --color-50: hsl(0, 0%, 85%);
  --color-60: hsl(0, 0%, 95%);
  --color-70: hsl(0, 0%, 100%);
}

html {
  background-color: var(--color-60);
  color: var(--color-10);
}

a:link,
a:visited,
a:active {
  color: var(--color-10);
}
