:root {
  --size-00: 4px;
  --size-10: 8px;
  --size-20: 16px;
  --size-30: 24px;
  --size-40: 32px;
  --size-50: 48px;
  --size-60: 64px;
  --size-70: 128px;
  --size-80: 256px;
  --size-90: 512px;

  --border-size-10: 1px;
  --border-size-20: 2px;
  --border-size-30: 4px;

  --border-radius-10: 4px;
  --border-radius-20: 8px;
  --border-radius-30: 1000px;
}
